/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Estilos Generales */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62,5%;
}

html, body {
  height: 100%;
  max-height: 150%;
  background-color: #000000;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  height: auto;
}

a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover {
  color: #dc5ae6;
}



/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(54, 13, 65, 0.8);
}

.header__logo img {
  width: 60px;
}

.header__links {
  display: flex;
  justify-content: center;
}

.header__links a {
  margin-right: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.header__links a:last-child {
  margin-right: 0;
}

.header__social-icons {
  display: flex;
  align-items: center;
}

.header__social-icons a {
  margin-right: 1rem;
  font-size: 1.25rem;
}

.header__social-icons a:last-child {
  margin-right: 0;
}

.navbar-brand {
  margin-right: auto;
}

.navbar-nav {
  margin: 0 auto;
}

.navbar-nav .nav-link {
  color: white;
}

.ms-auto {
  margin-left: auto !important;
}

header {
  background: linear-gradient(to right, black, #532356, #993e9f, #dc5ae6);
  display: flex;
  align-items: center;
}

.navbar-nav {
  margin: 0 auto;
}

.nav-link {
  font-weight: bold;
  color: white;
  transition: all 0.2s ease-in-out;
}

.nav-link:hover {
  color: fuchsia;
  transform: translateY(-3px);
}

.social-icon:hover {
  transform: rotate(360deg);
  transition: all 0.2s ease-in-out;
}



/* Main inicio */
main {
  display: flex;
  align-items: center;
  height: 100%;
  padding-top: 4rem;
}

.main__image-container {
  width: 30%;
  height: 100%;
}

.main__image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main__content {
  width: 70%;
  margin-left: 2rem;
}

.main__title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.main__subtitle {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.main__text {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.main__text {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: justify;
}



/* ========== FOOTER ==========*/


footer{
  position: relative;
  width: 100%;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to left, black, #532356, #993e9f, #dc5ae6);
}

footer .social_icon,.footer_pages{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

footer .social_icon li, .footer_pages li {
  list-style: none;
}

footer .social_icon li a {
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .social_icon li a:hover{
  transform: translateY(-10px);
}

footer .footer_pages a {
  font-size: 1.2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  opacity: 0.75;
}

footer .footer_pages li a:hover{
  opacity: 3;

}

footer p {
  color: #fff;
  text-align: center;
  margin-top: 15psx;
  margin-bottom: 10px;
  font-size: 1.1em;
}





/* Estilos Pagina Yo_soy */

/* Seccion descripcion canal*/
.main-title {
  text-align: center;
  margin-bottom: 1.5rem;
}

.main-text {
  text-align: justify;
  text-justify: inter-word;
  padding-left: 15px;
  padding-right: 15px;
}


main {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.text-container {
  flex-basis: 70%;
}

.logo-container {
  flex-basis: 25%;
}

.logo {
  max-width: 100%;
  height: auto;
}



/* Seccion redes sociales */

.container {
  max-width: 1200px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.container img {
  display: block;
  max-width: 200px;
  height: auto;
  margin: 0 auto;
}

.container p {
  text-align: justify;
  max-width: 500px;
}

.container a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.container a:hover {
  color: #666;
}







/* Blog "AUN EN CONSTRUCCION"*/

.blog-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
}

.blog-article {
  width: 100%;
  margin-bottom: 20px;
}

.blog-article img {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin-right: 20px;
}

.blog-article h2 {
  font-size: 24px;
  margin: 0;
}

.blog-article p {
  font-size: 16px;
  text-align: justify;
}

.blog-article small {
  font-size: 12px;
}



/* Recomendados "AUN EN CONSTRUCCION"*/

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  max-width: 1000px;
  margin: 0 auto;
}

.card {
  display: flex;
  background-color: #dc5ae6;
  width: 250px;
  height: 450px;
}

.card img {
  width: 130px;
  height: 196px;
  justify-content: center;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  color: white;
}

.card-info h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card-info p {
  font-size: 14px;
  line-height: 1.2;
}




/* === MODIFICACDOR BOOSTRAP ===*/

.buttonColor {
  background-color:#993e9f;
  color: white;
}
















































